exportPattern("^[[:alpha:]]+")
import(ggplot2)
importFrom(stats, cor)
importFrom(stats, pchisq)
importFrom(stats, median)
import(dplyr)
import(doParallel)
import(foreach)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(methods, as)
